.draggable{
    width: 120px; 
    height: 120px;
    text-align: center; 
    line-height: 120px; 
    background-color: #8FBC8F; 
    color: white; 
    border: 5px solid yellowgreen; 
    position: absolute; 
    top: 0;
    left: 0;
}
.p1 {font-size: 12px; line-height: 16px;}
.p1-1 {font-size: 200px;}
.p1-2 {font-size: 1em; line-height: 40px;}
.p2 {font-size: 12px; line-height: 2;}
.p2-1 {font-size: 200px;}
.p2-2 {font-size: 1em; line-height: 40px;}
